.body {
    margin: 0 auto;
    padding: 0;
    background-color: #2A2C2F;
    font-family: 'Inter', 'Arial', sans-serif;
    color: #FFFFFF;
    max-width: 1184px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}

