.intro__list {
    padding: 0;
    margin: 0;
    margin-top: 34px;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    list-style: none;
}

@media screen and (min-width: 768px) {    
    .intro__list {
        margin-top: 33px;
        width: calc(100% - 32px);
    }
}

@media screen and (min-width: 1024px) { 
    .intro__list {
        margin-left: 48px;
        max-width: 690px;
    }
}

@media screen and (min-width: 1280px) {
    .intro__list {
        margin-left: 0;
    }
}