.place__paragraph {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
}

.place__paragraph:not(:last-child) {
    margin-bottom: 25px;
}

@media screen and (min-width: 1024px) {
    .place__paragraph {
        font-size: 18px;
    }
}