.cover {
    position: relative;
    background-image: url(../../images/cover-trains.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    aspect-ratio: 8/5;
}

.cover:hover {
    opacity: 0.8;
}

@media screen and (min-width: 768px) {
    .cover {
        min-width: 768px;
        min-height: 480px;
    }
}

@media screen and (min-width: 1280px) {
    .cover {
        min-width: 1184px;
        min-height: 740px;
    }
}