.cover__title {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
    max-width: 288px;
    z-index: 5;
}

@media screen and (min-width: 768px) {
    .cover__title {
        margin-top: 115px;
        font-size: 72px;
        line-height: 76px;
        max-width: 560px;
        position: relative;
    }
}

@media screen and (min-width: 1280px) {
    .cover__title {
        margin-top: 245px;
    }
}