.footer {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 32px 16px 24px 16px;
}

@media screen and (min-width: 768px) {
    .footer {
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 88px 24px 24px 24px;
        justify-content: space-between;
        align-items: center;
    }
}

@media screen and (min-width: 1024px) {
    .footer {
        padding: 92px 0 24px 0;
    }
}